# Pengenalan Data

## Convert The Data Into DataFrame

In [4]:
#Importing Pandas Library
import pandas as pd

In [5]:
#Convert The data
df = pd.read_csv('california_housing_train.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

## Normalization dan Standardization

### Normalization

In [10]:
#Importing The Scaler
from sklearn.preprocessing import MinMaxScaler
#The data
data = [[12000000, 33], [35000000, 45], [4000000, 23], [6500000, 26], [9000000, 29]]

In [11]:
#Calling The Scaler
scaler = MinMaxScaler()
#Fit the data
scaler.fit(data)

MinMaxScaler()

In [14]:
#Print The scaler
print(scaler.transform(data))

[[0.25806452 0.45454545]
 [1.         1.        ]
 [0.         0.        ]
 [0.08064516 0.13636364]
 [0.16129032 0.27272727]]

### Standardization

In [15]:
#Importing The Scaler
from sklearn import preprocessing
#The data
data = [[12000000, 33], [35000000, 45], [4000000, 23], [6500000, 26], [9000000, 29]]

In [17]:
#Calling the scaler and fit the data
scaler = preprocessing.StandardScaler().fit(data)

In [19]:
#Math Formula for standardization
#Value - Mean / Standard Deviation
data = scaler.transform(data)
data

array([[-1.19073183, -4.04638761],
       [-1.19073164, -3.84146958],
       [-1.19073189, -4.21715264],
       [-1.19073187, -4.16592313],
       [-1.19073185, -4.11469362]])

## Train, Test, and Split

In [20]:
#Importing Datasets
import sklearn
from sklearn import datasets

In [21]:
# load iris dataset
iris = datasets.load_iris()

In [22]:
# pisahkan atribut dan label pada iris dataset
x=iris.data
y=iris.target

In [23]:
from sklearn.model_selection import train_test_split
 
# membagi dataset menjadi training dan testing 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [24]:
# menghitung panjang/jumlah data pada x_test
len(x_test)

30

## Cross Validation Split

In [25]:
import sklearn
from sklearn import datasets
 
# Load iris dataset
iris = datasets.load_iris()

In [26]:
# mendefinisikan atribut dan label pada dataset
x=iris.data
y=iris.target

In [27]:
from sklearn import tree
 
# membuat model dengan decision tree ckassifier
clf = tree.DecisionTreeClassifier()

In [32]:
from sklearn.model_selection import cross_val_score
 
# mengevaluasi performa model dengan cross_val_score
scores = cross_val_score(clf, x, y, cv=5)

In [33]:
scores

array([0.96666667, 0.96666667, 0.9       , 1.        , 1.        ])